*{
    color: #fff;
}
body{
    /* background-color: #111111; */
    background-position: 50%;
    background-size: cover;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    line-height: 1.6;
    position: relative;
    width: 100%;
}
.light{
    background: #fff;
    color: #000;
}
.dark{
    background:  #111111;
    color: #fff;
}
.light p{
    color: #000!important;
}
.light h1,.light h2,.light h3,.light h4,.light h5,.light h6{
    color: #000!important;
}
.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{
    color: #fff!important;
}
.light .about-list li span{
    color: #000;
}
.light span.button-txt{
    color: #000;
}
.light .chart text[fill]{
    fill: #000;
}
:root{
    --bg-yellow:#ffb400;
    --light:#fff;
    --dark:#000;
}
.text-light{
    color: #fff;
}
.text-gray{
    color: #fff;
}
.text-dark{
    color: #000;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-theme{
    color: var(--bg-yellow);
}
/* font size */
.f-16{
    font-size: 16px;
}
.f-18{
    font-size: 18px;
}
.f-20{
    font-size: 20px;
}
.f-22{
    font-size: 22px;
}
.f-24{
    font-size: 24px;
}
.f-26{
    font-size: 26px;
}
.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: transparent;
    border-color: #feb400;
}

